body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color:orange;
}
.top-banner{
    display: flex;
    margin: 150;
}
.dream-big{
    display: flex;
    margin: 150;
}
.experience-div{
    display: flex;
    box-shadow: 10px 10px grey;
}

.helf-width{
    width: 50%;
    padding-left: 5%;
}
.helf-width-images{
    width: 80;

}
.link-botton{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
    color: white;
}
.top-banner{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position:left;
}
.flexible-container{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
}
.flexible-left{
    border-left: 7px solid;
    border-image:linear-gradient(red,yellow) ;
    border-image-slice: 1;
}
.flexible-right{
    border-left: 7px solid;
    border-image:linear-gradient(red,yellow) ;
    border-image-slice: 1;
}
.zeha{
    background-color: black;
    text-align: center;
    color: gray;
}
.field{
    border:2px solid grey;
    margin-top:200px;
  }
  .field:hover.bat{
    transform:rotate(-60deg);
    transform-origin:top right;
  }
  .bat{
      transition:transform .1s ease-in;
  }
  .ball{
      width:50px;
      height:50px;
      border-radius: 25px;
      background-color: red;
      position:relative;
      left:513px;
      transition:1s ease-out .3s;
  }
  .gggg{
      text-align: center;
  }
  .middle{
      background-color: blue;
      color: cornsilk;
      
  }






























































































































































